doctype html 
head 
    meta(charsert='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Octolion shop 
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css")
body(style="display: flex; min-height: 100vh; flex-direction: column")
    script(defer src="https://kit.fontawesome.com/2d62cd0cef.js")
    include navbar.pug 
    block hero
    block content 
    include footer.pug